/* CSS Document */

@charset "utf-8";
/* CSS Document */
body{
font-size:12px;
font-family:"microsoft yahei","宋体", Arial;
margin:0;
padding:0;
}
div,p,img,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dt,dd
{
margin:0;
padding:0;
border:0;}
ul,li,ol{
list-style:none;
}
img{ vertical-align:top; border:none;}
.red{ color:#f00; font-size:12px;}
a{ text-decoration:none; color:#000;}
.header{ width:100%;}
.header .top{ height:100px; margin:0 auto;}
.header .top .tool{ height:20px; width:1000px; margin:0 auto; }
.header .nav{ background:url(/images/nav_bg.png) repeat-x;; color:#FFF;}
.header .nav,.header .nav .navul,.header .nav .navul li{ height:40px;line-height:40px;}
.header .nav .navul{ width:1000px;margin:0 auto;}
.header .nav .navul li{ display:block; float:left; width:100px; }
.header .nav .navul li a{ color:#000; font-size:14px; font-weight:bold;}

		/*********************************************/
 .header_banner{ width:100%;height:404px;margin:10px auto;overflow:hidden;}
		#flash { width:100%; height:404px; overflow:hidden; margin:0 auto; clear:both;padding:0px;}
		#flash a {width:100%; height:404px; display:none;}
		.flash_bar { width:130px; z-index:1069; height:30px; overflow:hidden; padding-top:13px!important; padding-top:12px; bottom:55px;text-align:center;margin:0 auto;position:relative; }
		.flash_bar .dq { display:inline-block; float:left; width:8px; height:8px; margin:5px 5px; cursor:pointer;
		background:url(/images/tg_flash_p.png) no-repeat 0px 0px; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/tg_flash_p.png" ,sizingMethod="crop"); }
		.flash_bar .no { display:inline-block; float:left; width:8px; height:8px; margin:5px 5px; cursor:pointer;
		background:url(/images/tg_flash_p2.png) no-repeat 0px 0px; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/tg_flash_p2.png" ,sizingMethod="crop"); }
		#flashBg { height:404px; overflow:hidden; width:100%; clear:both; margin:0; padding:0;}
		#flashLine {height:393px; width:100%; clear:both;}
		/*********************************************/
.title{font-size:14px; color:#F00; font-weight:bolder;height:38px; line-height:38px; background:url(/images/title_bg.jpg) repeat-x; padding-left:20px;}
.container{ width:1000px; margin:0 auto;}
.container .left{ width:240px; float:left; _display:inline; overflow:hidden;}
.container .left dt a{  width:240px; }
.container .left dd{ height:20px; line-height:20px; margin:5px auto; font-size:14px; width:220px; overflow:hidden;padding-left: 20px; background:url(/images/ico.jpg) no-repeat 0px center;}
.container .left dd a{font-size:12px; color:#666;}
.container .left dd a:hover{ color:#000;}
.container .left dl .lxwm{ padding-left:10px;background:url(/images/lx_bg.jpg) no-repeat; width:239px; height:235px; font-size:12px;}
.container .left dl .lxwm img{ display:block; margin:30px auto auto 5px;}
.container .left dl .lxwm .f{ display:block; margin-top:20px;}
.container .right{ width:750px; margin-left:10px; float:left; _display:inline; }
.container .right .dabox{ float:left;}
.container .right .content{ width:750px; float:left; margin-bottom:20px;}
.container .right .content .gsdescr{ width:550px; padding:10px; text-indent:20; margin-left:20px; float:left; line-height:20px;}
.container .right .content .gsimg{ display:block; float:left; margin:10px auto auto 10px;_display:inline;}
.container .right .content .box{ _display:inline; width:160px; margin:20px 0px 0px 22px; float:left;}
.container .right .content .box .imgbox{width:138px; height:130px; padding:10px;border:solid 1px #ededed; display:table-cell;vertical-align: middle; overflow:hidden;}
.container .right .content .box .imgbox a:hover img {border-color: #C00;}
.container .right .content .box .smtitle{ display:block; margin-top:5px;text-align:center; height:25px; line-height:25px;}
.container .right .content .imgbox img{ border:solid 1px #fff; display:block;}


/**products img list**/
.imglist2 { overflow: hidden; width: 1000px; }
.imglist2 li { display: inline; float: left; width: 185px; height: 150px; margin-right: 20px; overflow: hidden; }
.imglist2 li a { overflow: hidden; display: block; float: left; width: 181px; height: 150px; color: #61646b; }
.imglist2 li a img { display: block; float: left; width: 177px; height: 81px; margin: 0 auto; padding: 1px; border: 1px solid #DDD; background: #FFF; }
.imglist2 li a:hover img { border-color: #c00;}
.imglist2 li span.imgtit { display: block; float: left; width: 110px; height: 32px; line-height: 32px; cursor: pointer; }
.imglist2 li a:hover { color: #C00; }
.imglist21 { overflow: hidden; width: 998px; border: solid 1px #CCC; }
.imglist21 li { display: inline; float: left; width: 110px; height: 150px; margin-right: 20px;margin-top: 20px; overflow: hidden; }
.imglist21 li a { overflow: hidden; display: block; float: left; width: 110px; height: 150px; color: #61646b; }
.imglist21 li a img { display: block; float: left; width: 106px; height: 81px; margin: 0 auto; padding: 1px; border: 1px solid #DDD; background: #FFF; }
.imglist21 li a:hover img { border-color: #c00;}
.imglist21 li span.imgtit { display: block; float: left; width: 110px; height: 32px; line-height: 32px; cursor: pointer; text-align:center;}
.imglist21 li a:hover { color: #C00; }



/*footer导航*/
.footer{ height:120px; width:1000px; margin:30px auto 10px auto;}
.footer_right{width:760px; height:120px; margin-left:20px; overflow:hidden; margin:0 auto;}
.footer_ul{height:30px; margin-top:5px;}
.footer_ul li{text-align:center; float:left; height:30px; line-height:30px; font-size:12px; padding:0 15px;}
.pp3{ font-size:12px; line-height:160%; margin:5px 0 0 14px; text-align:center;}



.pagenav,.pagenav a,.pagenav font{ font-size:12px; color:#666;text-align: center;}
.pagenav a:hover,.pagenav a:hover font{ color:#000;}
.pagenav a{ display:inline-block; height:20px; height:20px; padding:0px 5px; line-height:20px;}