/* CSS Document */

@charset "utf-8";
/* CSS Document */
body{
font-size:12px;
font-family:"microsoft yahei","宋体", Arial;
margin:0;
padding:0;
background:url(../images/bg.jpg) repeat;
}
div,p,img,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dt,dd
{
margin:0;
padding:0;
border:0;}
ul,li,ol{
list-style:none;
}
img{ vertical-align:top; border:none;}
.red{ color:#f00; font-size:12px;}
a{ text-decoration:none; color:#000;}
.header{ width:100%;}
.header .top{ height:100px; margin:0 auto;}
.header .top .logon,
.header .top .tool{ height:26px; width:1000px; margin:0 auto; }
.header .top .tool{ background:#f3f3f3;border-bottom: 1px solid #E3E3E3;width:100%;}
.header .top .tool .op{ width:1000px; margin:0 auto;}
.header .top .tool .op a{ display:inline-block; float:right; height:26px; width:60px; line-height:26px;}
.header .nav{ background:url(/images/nav_bg.png) repeat-x;; color:#FFF;}
.header .nav,.header .nav .navul,.header .nav .navul li{ height:40px;line-height:40px;}
.header .nav .navul{ width:1000px;margin:0 auto;text-align: center;}
.header .nav .navul li{ display:block; float:left; width:100px; background:url(../images/nav.png) no-repeat;}
.header .nav .navul li.navhover{background:url(../images/nav_hover.png) no-repeat; color:#000;}
.header .nav .navul li.navhover a{ color:#000;}
.header .nav .navul li a{ color:#FFF; font-size:14px; font-weight:bold;}

		/*********************************************/
 .header_banner{ width:100%;height:404px;margin:10px auto;overflow:hidden;}
		#flash { width:100%; height:404px; overflow:hidden; margin:0 auto; clear:both;padding:0px;}
		#flash a {width:100%; height:404px; display:none;}
		.flash_bar { width:130px; z-index:1069; height:30px; overflow:hidden; padding-top:13px!important; padding-top:12px; bottom:55px;text-align:center;margin:0 auto;position:relative; }
		.flash_bar .dq { display:inline-block; float:left; width:8px; height:8px; margin:5px 5px; cursor:pointer;
		background:url(/images/tg_flash_p.png) no-repeat 0px 0px; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/tg_flash_p.png" ,sizingMethod="crop"); }
		.flash_bar .no { display:inline-block; float:left; width:8px; height:8px; margin:5px 5px; cursor:pointer;
		background:url(/images/tg_flash_p2.png) no-repeat 0px 0px; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/tg_flash_p2.png" ,sizingMethod="crop"); }
		#flashBg { height:404px; overflow:hidden; width:100%; clear:both; margin:0; padding:0;}
		#flashLine {height:393px; width:100%; clear:both;}
		/*********************************************/
.title{font-size:14px; color:#F00; font-weight:bolder;height:38px; line-height:38px; background:url(/images/title_bg.jpg) repeat-x; /*padding-left:20px;*/}
.title img{ display:inline-block;margin: 14px 10px auto 10px;}
.title span{ height:38px; line-height:38px; display:inline-block;}
.container{ width:1000px; margin:0 auto;}
.container .left{ width:240px; float:left; _display:inline; overflow:hidden;}
.container .left dt a{  width:240px; }
.container .left dd{ height:20px; line-height:20px; margin:5px auto; font-size:14px; width:210px; overflow:hidden;padding-left: 30px; background:url(/images/ico.jpg) no-repeat 10px center;}
.container .left dd a{font-size:12px; color:#666;display: inline-block; width:100%;}
.container .left dd a:hover{ color:#000; background:#ededed;}
.container .left dl .lxwm{ padding-left:10px;background:url(/images/lx_bg.jpg) no-repeat; width:239px; height:235px; font-size:12px;}
.container .left dl .lxwm img{ display:block; margin:30px auto auto 5px;}
.container .left dl .lxwm .f{ display:block; margin-top:20px;}
.container .right{ width:750px; margin-left:10px; float:left; _display:inline; }
.container .right .dabox{ float:left;}
.container .right .content{ width:750px; float:left; margin-bottom:20px;}
.container .right .content .gsdescr{ width:550px; padding:10px; text-indent:20; margin-left:20px; float:left; line-height:20px;}
.container .right .content .gsimg{ display:block; float:left; margin:10px auto auto 10px;_display:inline;}
.container .right .content .box{ _display:inline; width:160px; margin:20px 0px 0px 22px; float:left;}
.container .right .content .box .imgbox{width:138px; height:152px; padding:10px;border:solid 1px #ededed; display:table-cell;vertical-align: middle; overflow:hidden;}
.container .right .content .box .imgbox a:hover img {border-color: #C00;}
.container .right .content .box .smtitle{ display:block; margin-top:5px;text-align:center; height:25px; line-height:25px;}
.container .right .content .imgbox img{ border:solid 1px #fff; display:block;}


/**products img list**/
.imglist2 { overflow: hidden; width: 1000px; }
.imglist2 li { display: inline; float: left; width: 185px; height: 150px; margin-right: 20px; overflow: hidden; }
.imglist2 li a { overflow: hidden; display: block; float: left; width: 181px; height: 150px; color: #61646b; }
.imglist2 li a img { display: block; float: left; width: 177px; height: 81px; margin: 0 auto; padding: 1px; border: 1px solid #DDD; background: #FFF; }
.imglist2 li a:hover img { border-color: #c00;}
.imglist2 li span.imgtit { display: block; float: left; width: 110px; height: 32px; line-height: 32px; cursor: pointer; }
.imglist2 li a:hover { color: #C00; }
.imglist21 { overflow: hidden; width: 998px; border: solid 1px #CCC; }
.imglist21 li { display: inline; float: left; width: 110px; height: 150px; margin-right: 20px;margin-top: 20px; overflow: hidden; }
.imglist21 li a { overflow: hidden; display: block; float: left; width: 110px; height: 150px; color: #61646b; }
.imglist21 li a img { display: block; float: left; width: 106px; height: 81px; margin: 0 auto; padding: 1px; border: 1px solid #DDD; background: #FFF; }
.imglist21 li a:hover img { border-color: #c00;}
.imglist21 li span.imgtit { display: block; float: left; width: 110px; height: 32px; line-height: 32px; cursor: pointer; text-align:center;}
.imglist21 li a:hover { color: #C00; }



/*footer导航*/
.footer{ height:120px; width:1000px; margin:30px auto 10px auto;}
.footer_right{width:760px; height:120px; margin-left:20px; overflow:hidden; margin:0 auto;}
.footer_ul{height:30px; margin-top:5px;}
.footer_ul li{text-align:center; float:left; height:30px; line-height:30px; font-size:12px; padding:0 15px;}
.pp3{ font-size:12px; line-height:160%; margin:5px 0 0 14px; text-align:center;}



.pagenav,.pagenav a,.pagenav font{ font-size:12px; color:#666;text-align: center;}
.pagenav a:hover,.pagenav a:hover font{ color:#000;}
.pagenav a{ display:inline-block; height:20px; height:20px; padding:0px 5px; line-height:20px;}

.newslist{padding: 10px 20px;}
.newslist li{ height:25px; margin:5px 0px; line-height:25px; padding-left:10px; background:url(/images/ico.jpg) no-repeat 0px center}
.newslist li a{ display:inline-block; float:left; overflow:hidden;}
.newslist li span{ display:inline-block; float:right;}
.goodtitle{ text-align:center; font-weight:bolder; font-size:18px; padding:5px; border:dashed 1px #ccc; background:#f9f9f9;margin: 10px 0px;}
.goodxx{ text-align:center;}
.goodxx span{ display:inline-block; margin:0 5px;}
.goodimg{ text-align:center; border-bottom:dashed 1px #ededed; padding:20px;}
.goodimg img{ width:200px; height:200px;}
.gooddetail{ padding:0px 30px; line-height:25px;}
.gooddetail *{ font-size:12px; margin:0px; padding:0px;}

/*网上留言代码的开始*/

.nr{}
.nr .online{ margin-left:127px;}
.nr .online .tv{ float:left; margin-right:33px; display:inline;}
.nr .online .tv_ms{ width:400px; height:70px; float:left; overflow:hidden; margin-bottom:15px; display:inline;}
.nr .online .tv_ms p{ color:#9D9D9D; line-height:21px;}

 .nr .question{ width:653px; height:347px; background:url(../images/form_bg.png) no-repeat 0px 78px; margin:0px 0px 50px 50px;}
.nr .question .form{ width:580px; height:346px; border:1px solid #D5D5D5; margin-left:60px;}
.nr .question .form .table{ padding:27px 0 0 40px; }
.nr .question .form table{ line-height:40px; font-size:13px; font-weight:800; color:#5B5B5B;}
.question .form table .width300{ width:300px; height:33px; border:1px solid #D5D5D5;}
.question .form table .tj{ width:86px; height:31px; background:url(../images/button.jpg) no-repeat; cursor:pointer; margin-left:80px;border: none;}
.qie_smallpic dl{ width:170px; height:90px; padding-left:40px; overflow:hidden;}
.qie_smallpic dl a{ text-decoration:none; color:#FFF;}
.qie_smallpic dl dt{ height:25px; line-height:25px; font-size:18px; font-weight:bolder;}
.qie_smallpic dl dd{ height:15px; line-height:15px; font-size:12px; font-weight:bold;}
.qie_smallpic dl dt,.qie_smallpic dl dd{ text-align:left; overflow:hidden;margin:2px 0px;; display:inline-block;}
.qie_smallpic .hover dl{ background:#D9F1CD; color:#5cc21f;}
.qie_smallpic .hover dl a{color:#5cc21f;}
.question {
width: 653px;
height: 347px;
background: url(../images/form_bg.png) no-repeat 0px 78px;
margin: 0px 0px 50px 50px;
}


/*联系我们代码的开始*/

.kl-tab{ width:996px; margin:10px auto; text-align:left;}
.kl-tab .left_bt{ width:195px;  float:left;}
.oem_box{ border:1px solid #F1F1F1; width:195px;}
.oem_box .oem_bt{ background:url(../images/oem_bt.png) no-repeat;  height:46px; width:195px; border-bottom:2px #41B15D solid; color:#41B15D; font-size:14px; font-weight:800; line-height:46px;}
.oem_box .oem_list{}
.oem_box .oem_list ul{ width:195px;}
.oem_box .oem_list li{ width:195px; height:48px; border-bottom:1px solid #F1F1F1;}
.oem_box .oem_list li a{ width:195px; height:48px; display:block; color:#8f8f8f; line-height:48px; font-size:14px; font-weight:800; text-align:center;}
.oem_box .oem_list a:hover{color:#676767; background:url(../images/list_hover.png) no-repeat; width:195px; height:48px;}
.left_bt .img{ margin-top:10px;}


 .nr{}
 .nr .lxwm{}
 .nr .lxwm .add{float:left; margin:50px 0 0 40px; display:inline; }
.nr .lxwm .add p{ margin:10px; color:#717171;}
 .nr .lxwm_pic{ float:right; margin:50px 100px 0 0; display:inline;}
 .nr .map{margin:-10px 0 50px 40px;}
 
 
.pagenav,.pagenav a,.pagenav font{ font-size:12px; color:#666;text-align: center;}
.pagenav a:hover,.pagenav a:hover font{ color:#000; background:#ebebeb;}
.pagenav a,.pagenav font{ display:inline-block; height:20px; height:20px; padding:0px 6px; line-height:20px;border: 1px solid #E7ECF0;}
.pagenav a font{ margin:0px; padding:0px; border:none;}

.ahover{ background:#ededed; color:#000;}

