# Helicon ISAPI_Rewrite configuration file
# Version 3.1.0.73

<IfModule mod_rewrite.c>

RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule (.*) /index.asp?$1 [NC,L]

</IfModule>