<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<script src="js/jquery-1.8.1.min.js" language="javascript" type="text/javascript"></script>
<link href="css/main.css" rel="stylesheet" type="text/css" />
<title>更新文章信息</title>
</head>
<style>
.biaotou{background:url(images/tbg.gif) repeat-x; height:28px;}
table{ border-color:#FBFCE2;}
table td table td,table td table{ border:none; text-align:left; line-height:28px; height:28px;}
td{border-bottom: 1px dotted #BCBCBC;height: 28px; padding:2px; font-size:12px; font-family:"宋体";background-color: #FFF;}
.sx{ text-align:center; margin:0px; padding:0px;}
</style>
<script charset="utf-8" src="editor/kindeditor-min.js"></script>
<script charset="utf-8" src="editor/lang/zh_CN.js"></script>
<script>
			var editor;
			KindEditor.ready(function(K) {
					editor = K.create('textarea[name="arccontent"]', {
					'allowFileManager' : true,
					'uploadJson': 'editor/asp/upload_json.asp',
					'fileManagerJson': 'editor/asp/file_manager_json.asp',
//					'imageUploadJson':'../../../uploads',
					'allowFlashUpload':true,
					'allowFileManager':true
				});
			});
		</script>
<body>
<form action="" id="addarc" method="post">
<table width="98%" style="border-collapse:collapse; margin-bottom:50px;" border="1" cellspacing="0" cellpadding="0">
 <tr>
 	<td height="28" colspan="2" align="center" class="biaotou">更新文章信息&lt;&lt;<a href="javascript:window.history.go(-1);" class="coolbg">返回</a></td>
 </tr>
 <tr width="10%">
    <td>作者：</td>
    <td><input name="arcauthor" type="text" class="checknonull"  value="{{arcauthor}}" style="width:100px"></td>
  </tr>
  <tr width="10%">
    <td>来源：</td>
    <td><input name="arcsource" type="text" class="checknonull"  value="{{arcsource}}" style="width:200px"></td>
  </tr>
 <!---信息标题-->
  <tr>
    <td>标题：</td>
    <td><input name="arctitle" type="text" class="checknonull"  value="{{arctitle}}" style="width:388px">

</td>
  </tr>
  <!--信息分类-->
  <tr>
    <td width="90">文章属性：</td>
    <td>
    <input name="arcflag"  value="{{arcflag}}" /><span style="color:#f00;">(使用格式(C,H))注意用大写</span>
    <label for="c">1、首页推荐(C)</label>
    <label for="c">2、头条(H)</label>
    </td>
  </tr>
     <tr>
    <td width="90">信息分类：</td>
    <td>
{{catidsel}}<span class="red">(只能在同样信息类型下更改所属分类)</span></td>
  </tr>
  <tr>
    <td width="90">内容模型：</td>
    <td>
    {{type_name}} <input type="hidden" name="type_id" value="{{type_id}}" /></td>
  </tr>
  <!--图片信息展示-->
  <tr>
    <td>
    图片展示：</td>
    <td><input name="arcpic" id="pic" type="text"  value="{{arcpic}}" style="width:388px">
    <input type="button" onclick="window.open('uploadimg/index.asp','newwindow','width=500,height=80')" value="本地上传" style="width:70px;cursor:pointer;"><input id="delimg" type="button" style="display:none;"  value="删除本张图片"><img id="picimg" width="50" height="50" style="display:none;" src=""  />
    </td>
  </tr>
  <!--内容-->
  <tr width="10%">
    <td>关键字：</td>
    <td><input name="arckeys" type="text" class="checknonull"  value="{{arckeys}}" style="width:400px">
      (关键字用','号分开)</td>
  </tr>
  <tr>
    <td> 文章内容：</td>
    <td><textarea name="arccontent" style="width:710px;height:400px;visibility:hidden;">{{arccontent}}</textarea></td>
  </tr>
  <tr>
    <td colspan="2" align="center">
    <input type="hidden" name="isupdtarticle" value="true" />
    <input type="hidden" name="id" value="{{id}}" />
    <input type="submit"  value="更新文章"  style="width:70px; height:20px;" class="coolbt checkform">
       <input type="button"  value="返回" onclick="window.history.go(-1);"  style="width:70px" class="coolbt"></td>
  </tr>
</table>
</form>
<script>
$(function(){
$("#delimg").bind("click",function(){
	if(confirm("确认要删除?")){
	$.get("uploadimg/index.asp",{
									act:'delimg',
									imgpath:$("#pic").val()
										},function(data){
								if(data==1){
									alert('删除成功！');
									}else{
									alert('文件删除错误！');
										}
									$("#pic").val('');
									$("#pic").change();
		});
	}
	});
$("#pic").bind("change",function(){
	if($(this).val()!=""){
		$("#delimg").show();
		$("#picimg").show();
		$("#picimg").attr("src",$(this).val());
		}else{
		$("#delimg").hide();
		$("#picimg").hide();	
			}
	});
$(".checknonull").bind("blur",function(){
		if($(this).val()==''){
			alert("信息不能为空!");
			return false;
			}
	});
$("#addarc").submit(function(e) {
	var i=0;
	$(".checknonull").each(function(index, element) {
        if($(this).val()==''){
			i++;
			}
    });
	if(i!=0){
		alert('信息不能为空！');
		return false;
		}else{
	    return true;
			}

	});
});
function cha(){
	$("#pic").change();
	}
</script>
</body>
</html>
