<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>万仁伯酿酒</title>
<link rel="stylesheet" type="text/css" href="css/public.css" />
<link rel="stylesheet" type="text/css" href="css/main.css" />
</head>

<body>
{{include file="public/header.html"}}
<div class="banner">
	<div class="width1000">
		<div class="banner_left fleft"><a href="#"><img src="images/xz.png" width="64" height="64" /></a></div>
		<div class="banner_middle fleft">
			<div class="middle_left fleft">
				<div class="middlelefttop"><img src="images/banner_text.png" width="242" height="287" /></div>
				<div class="xiangqing"><a href="shipu.asp">查看更多食谱</a></div>
			</div>
			<div class="middle_middle fleft"><img src="images/banner_jp.png" width="118" height="444" /></div>
			<div class="middle_right fleft"><img src="images/banner_img.png" width="420" /></div>
		</div>
		<div class="banner_right fright"><a href="#"><img src="images/xy.png" width="64" height="64" /></a></div>
	</div>
</div>

<div class="width900 index_cont">
	<div class="cont1_left fleft">
		<div class="cont1left_top">
			<div class="cont1ltl fleft">疑难解答 & 食谱 <span class="eng">Recipe</span></div>
			<div class="cont1ltr fright"><a href="yinanjieda.asp">&gt; More</a></div>
		</div>
		<div class="cont1left_down">
			<dl class="index_news1">
				<dt><img src="images/img1.jpg" width="107" height="107" /></dt>
				<dd>
					<h1 class="hdd1"><a href="shipu_cont.asp">2013年波尔多葡萄酒行情</a></h1>
					<p class="pp1"><a href="shipu_cont.asp">随着波尔多葡萄酒价格的稳定，还有罗伯特&middot;帕克准备给波尔多2010年份酒重新打分的计划，业内人士预言……
 </a></p>
				</dd>
			</dl>
			<div class="clear"></div>
			<ul class="newsul1">
				<li><span class="riqi">[2013-4-8]</span><a href="shipu_cont.asp">新规4月1日施行，对小作坊说不 </a></li>
				<li><span class="riqi">[2013-4-8]</span><a href="shipu_cont.asp">2013年1月深圳葡萄酒进口数据 </a></li>
				<li><span class="riqi">[2013-4-8]</span><a href="shipu_cont.asp">2013年波尔多葡萄酒行情看涨  </a></li>
			</ul>
			<div class="ljgd"><a href="yinanjieda.asp">了解更多</a></div>
		</div>
	</div>
	
	<div class="cont2_left fleft">
		<div class="cont2left_top">
			<div class="cont1ltl fleft">关于我们 <span class="eng">About Us</span></div>
			<div class="cont1ltr fright"><a href="about.asp">&gt; More</a></div>
		</div>
		<div class="cont2left_down">
			<div class="cont2leftdm">
				<div class="dmleft fleft"><strong>万士伯公司</strong>是一家专业的进口红酒品牌运营公司，位于中国最大、最早成立的上海外高桥保税区。上海外高桥保税区有着国内最大的进口红酒交易红酒交红酒交平台。酒交易平台。最早成立的上海外高桥保税区。来自世界知名的葡萄酒产区，例如葡萄牙知名的葡萄酒产区，例如葡萄知名……
 </div>
 				<div class="dmright fright"><img src="images/img3.jpg" width="106" height="162" /></div>
			</div>
			<div class="clear"></div>
			<div class="ljgd"><a href="about.asp">了解更多</a></div>
			
		</div>
	</div>
	<div class="cont3_left fleft">
		<div class="cont3left_top">
			<div class="cont1ltl fleft">产品介绍 <span class="eng">Product</span></div>
			<div class="cont1ltr fright"><a href="ruanjianbao.asp">&gt; More</a></div>
		</div>
		<div class="cont3left_down">
			<div class="pro_img">
				<span class="prospan"><img src="images/img2.jpg" width="142" height="77" /></span>
			专业的进口红酒品牌运营公司，位于中国最大、最有着国内最大的进萄知名的葡萄酒产区酒品牌运营公司，位于中国最大、最早成立的上海外高桥保税区。的上海外高桥保税区。的上海外高桥保税区……
 
 
			</div>
			<div class="ljgd"><a href="ruanjianbao.asp">了解更多</a></div>
			
		</div>
	</div>
</div>
<div class="clear"></div>
{{include file="public/footer.html"}}
</body>
</html>
