<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>asp内容管理系统</title>
<link rel="stylesheet" type="text/css" href="css/public.css" />
<link rel="stylesheet" type="text/css" href="css/main.css" />
</head>

<body>
{{#}}
{{include file="public/header.html"}}
<ul>
<loop sql='select top 10 * from kl_archives' num='5'>
<li>{{arctitle}}</li>
</loop>
</ul>
<ul>
<div>1111111111111111111111111111111111111</div>
<loop sql='select top 10 * from kl_archives' num='8' iterator='a'>
<li>{{arctitle}}{{a}}</li>
</loop>
</ul>
<ul>

<loop sql='select top 10 * from kl_cats'>
<li>{{cat_name}}</li>
</loop>
</ul>
{{include file="public/footer.html"}}
</body>
</html>
