<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
{{include file="public/seo.html"}}
<link rel="stylesheet" type="text/css" href="/style/index.css"/>
</head>

<body>
{{include file="public/header.html"}}
<div class="kl-tab">
  	<div class="left_bt">
        <div class="oem_box">
            <div class="oem_bt"><span style="padding-left:45px;">产品展示</span></div>
            <div class="oem_list">
                <ul>
                    <li class="kl-tab-nav lili"><a href="product.asp">代用茶系列>></a></li>
                    <li class="kl-tab-nav"><a href="product.asp" >固体饮料系列>></a></li>
                    <li class="kl-tab-nav"><a href="product.asp" >颗粒系列>></a></li>
                    <li class="kl-tab-nav"><a href="product.asp" >胶囊系列>></a></li>
                    <li class="kl-tab-nav"><a href="product.asp" >片剂系列>></a></li>
                </ul>
            </div>       
          </div>
          <div class="img">
              <ul>
                   <li><a href="#"><img src="images/contact.jpg" alt="联系我们" title="联系我们"/></a></li>
                   <li><a href="#"><img src="images/message.jpg" alt="网上留言" title="网上留言" /></a></li>
                   <li><a href="#"><img src="images/zsdl.jpg" alt="招商代理" title="招商代理" /></a></li>
              </ul>
          </div>
    </div>

    	<div class="list_nr">
        <!--kl-tab-div的开始-->
            <div class="kl-tab-div clear">
            	<div class="bt">
                   
                	<span style="color:#616060; font-size:14px; font-weight:800; padding-left:110px;" >代用茶系列</span>
                	            <span style="padding-left:330px; background:url(images/fh.png) no-repeat 310px 3px;">                                    &nbsp;&nbsp;您现在的位置:首页-产品展示-代用茶系列</span>
                </div>
                <div class="nr">
                	
                    	<h1 style="color:#2ea235; font-size:16px; font-weight:800; margin-bottom:15px; text-align:center;">葛根山药固体饮料</h1>
                    
                    <div class="cp_img"><img src="images/dl_pic.jpg"  alt="葛根山药固体饮料" title="葛根山药固体饮料"/></div>
                    <div class="cp_js">
                    	<p>黄原胶分子由D-葡萄糖、D-   甘露糖、D-葡萄糖醛酸、乙 烯基和丙酮酸构成，相对分子黄原胶分子由D-葡萄糖、D-   甘露糖、D-葡萄糖醛酸、乙 烯基和丙酮酸构成，相对分子黄原胶分子由D-葡萄糖、D-   甘露糖、D-葡萄糖醛酸、乙 烯基和丙酮酸构成，相对分子黄原胶分子由D-葡萄糖、D-   甘露糖、D-葡萄糖醛酸、乙 烯基和丙酮酸构成，相对分子黄原胶分子由D-葡萄糖、D-   甘露糖、D-葡萄糖醛酸、乙 烯基和丙酮酸构成，相对分子</p>
                                 
                                    
                    
                    
                    </div>
                   
                
                </div>
            
            </div>
       
            
        </div>
        
        
</div>
{{include file="public/footer.html"}}
</body>
</html>
