<div class="top">
	<div class="top1">
		<div class="width1000 toptop">
			<div class="top_left fleft"><a href="index.asp"><img src="images/logo.png" width="224" height="141" /></a></div>
			<div class="top_right fleft" id="navxiala">
				<ul class="top_navul">
					<li><a href="jieshao.asp">产品介绍</a></li>
					<li><a href="shiyong.asp">如何使用</a></li>
					<li><a class="navlang" href="yinanjieda.asp">疑难解答 & 食谱</a></li>
					<li><a href="news.asp">活动资讯</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>