a{ color:#000; text-decoration:none;}
*{ margin:0px; padding:0px; font-size:12px;}
.biaotou{background:url(../images/tbg.gif) repeat-x; height:28px; line-height:28px;}
table,tr,td{ border-color:#cfcfcf;}
td{ height:22px; padding:2px; line-height:22px;}
.np{ border:none;}
select,input{ height:20px; padding:2px; line-height:20px;}
select{ height:25px;}
.coolbg {
border: none;
border-right: 1px solid #ACACAC;
border-bottom: 1px solid #ACACAC;
padding: 2px;
padding-right: 5px;
padding-left: 5px;
background: #CCC url(../images/allbtbg2.gif);
cursor: pointer;
display:inline-block;
line-height:20px;
height:20px;
}
.coolbt{
border-left: 1px solid #EFEFEF;
border-top: 1px solid #EFEFEF;
border-right: 1px solid #ACACAC;
border-bottom: 1px solid #ACACAC;
background-color: #E4F7D7;
cursor: pointer;
}
input[type="text"], input[type="password"] {
border-width: 1px;
border-style: solid;
border-color: #707070 #CECECE #CECECE #707070;
padding: 2px 4px;
height: 18px;
line-height: 18px;
vertical-align: middle;
}
input[type="button"],input[type="submit"], input[type="reset"] {
border: none;
border-right: 1px solid #ACACAC;
border-bottom: 1px solid #ACACAC;
background-color: #F1F8B4;
padding: 2px;
padding-right: 5px;
padding-left: 5px;
background: url(../images/allbtbg2.gif) #EFF7D0;
cursor: pointer;
}
.red{ color:#F00;}
.green{ color:#0f0;}
input,select{border:solid 1px #ccc;}
.lanmu dd.menujibie2{ height:auto; padding:0px 0px; _width:auto; line-height:auto;}
.lanmu dd.menujibie2 dl{ margin:0px; padding:0px;}
.menujibie2,dd.menujibie2{ display:inline-block; _padding-left:0px;}
dd.menujibie2 .lanmu dt{ padding-left:80px}
dd.menujibie2 .lanmu dd{ padding-left:130px;}
dd.menujibie2 .lanmu dt .left{ width:490px;}
dd.menujibie2 .lanmu dd .left{ width:440px;}


dd.menujibie2 .lanmu dd.menujibie3{ height:auto; padding:0px 0px; _width:auto; line-height:auto;}
dd.menujibie2 .lanmu dd.menujibie3 .lanmu .dt{ padding-left:40px;}
.lanmu dd.menujibie3 dl{ margin:0px; padding:0px;}
.menujibie3,dd.menujibie3{ display:inline-block;}
dd.menujibie3 .lanmu dt{ padding-left:120px}
dd.menujibie3 .lanmu dd{ padding-left:160px;}
dd.menujibie3 .lanmu dt .left{ width:450px;}
dd.menujibie3 .lanmu dd .left{ width:410px;}


dd.menujibie2 .lanmu dd.menujibie4{ height:auto; padding:0px 0px; _width:auto; line-height:auto;}
dd.menujibie2 .lanmu dd.menujibie4 .lanmu .dt{ padding-left:40px;}
.lanmu dd.menujibie4 dl{ margin:0px; padding:0px;}
.menujibie4,dd.menujibie4{ display:inline-block;}
dd.menujibie4 .lanmu dt{ padding-left:120px}
dd.menujibie4 .lanmu dd{ padding-left:160px;}
dd.menujibie4 .lanmu dt .left{ width:450px;}
dd.menujibie4 .lanmu dd .left{ width:410px;}


.pagenav,.pagenav a,.pagenav font{ font-size:12px; color:#666;text-align: center;}
.pagenav a:hover,.pagenav a:hover font{ color:#000; background:#ebebeb;}
.pagenav a,.pagenav font{ display:inline-block; height:20px; height:20px; padding:0px 6px; line-height:20px;border: 1px solid #E7ECF0;}
.pagenav a font{ margin:0px; padding:0px; border:none;}


input[type="text"]:focus, input[type="text"]:hover, input[type="text"]:active, input[type="password"]:focus, input[type="password"]:hover, input[type="password"]:active, textarea:hover, textarea:focus, textarea:active {
color: #33464F;
background-color: #FFF;
border: 1px solid;
border-color: #59595A /*#CBE9F3 #CBE9F3 #59595A*/;
-moz-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
-webkit-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
}
input[type="text"], input[type="password"], textarea, select, .type-file-text, .editable, .editable2, .editable-tarea, .editable-tarea2 {
 border:solid 1px #ccc;
background:#fefefe;
padding: 2px 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
resize: none;
}
